[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost
[submodule "external/gsl-lite"]
	path = external/gsl-lite
	url = https://github.com/martinmoene/gsl-lite.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/cpuinfo"]
	path = external/cpuinfo
	url = https://github.com/pytorch/cpuinfo
[submodule "external/expected"]
	path = external/expected
	url = https://github.com/TartanLlama/expected
[submodule "external/SG14"]
	path = external/SG14
	url = https://github.com/WG21-SG14/SG14.git
[submodule "external/ska_sort"]
	path = external/ska_sort
	url = https://github.com/skarupke/ska_sort
